<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Amaxzon</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/font-style.css}">
    <link rel="shortcut icon" th:href="@{img/WEB-PAGE/amaxzon.ico}"/>
</head>
<body>

    <header th:fragment="header-visitante">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff">
            <a class="navbar-brand" href="/home"><img th:src="@{/img/WEB-PAGE/logo.svg}" class="logo" alt="amaxzon logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarVis">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/produto/loja">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/usuario/logar">Entre ou Cadastre-se</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <header th:fragment="header-cliente">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff">
            <a class="navbar-brand" href="/home"><img th:src="@{/img/WEB-PAGE/logo.svg}" class="logo" alt="amaxzon logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCli">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/produto/loja">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pedidos/listar">Suas compras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/carrinho/listar">Carrinho</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <header th:fragment="header-gerente">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff">
            <a class="navbar-brand" href="/home"><img th:src="@{/img/WEB-PAGE/logo.svg}" class="logo" alt="amaxzon logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarGer">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/produto/gerenciar">Gerenciar Produtos</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <footer th:fragment="footer">
        <nav class="navbar navbar-expand-lg navbar-light fixed-bottom">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="">&copy;Jhimy-J Solutions</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Atendimento:
                        031(11) 4002-8922</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Desenvolvido
                        por Max Wendel F. F. Araújo</a></li>
                </ul>
            </div>
        </nav>
    </footer>

   <!-- <footer class="footer">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>-->

    <div th:fragment="scripts">
        <!-- External Scripts -->
        <script th:src="@{/js/jquery.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/show-modal.js}"></script>
    </div>

</body>
</html>