<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-style.css">
</head>
<body>

    <header th:fragment="header-visitante">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #08112e">
            <a class="navbar-brand" href="/inicio"><img src="../img/WEB-PAGE/logo.svg" alt="amaxzon logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarVis">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/inicio">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/produtos">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Entre ou Cadastre-se</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <header th:fragment="header-cliente">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #08112e">
            <a class="navbar-brand" href="/inicio"><img src="../img/WEB-PAGE/logo.svg" alt="amaxzon logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCli">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/produtos">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/compras">Suas compras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/carrinho">Carrinho</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <header th:fragment="header-gerente">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #08112e">
            <a class="navbar-brand" href="/inicio"><img th:src="../img/WEB-PAGE/logo.svg" alt="amaxzon logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarGer">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/inicio">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/produto/listarProduto">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/usuario/listarUsuarios">Clientes</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <footer th:fragment="footer">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #08112e">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="">&copy;Jhimy-J Solutions</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Atendimento:
                        031(11) 4002-8922</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Desenvolvido
                        por Max Wendel F. F. Araújo</a></li>
                </ul>
            </div>
        </nav>
    </footer>

    <div th:fragment="scripts">
        <!-- External Scripts -->
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/show-modal.js"></script>
    </div>

</body>
</html>