p.texto{
	text-align: justify;
	font-family: "Times new roman"; 
}

.esquerda{
	float: left; 
}

.direita{
	float: right;
}


.direita-footer{
	margin-right: auto;
}

.logo{
    width: 100px;
    height: 50px;
}

.color-text {
    color: white;
}