<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout/default :: head"></head>

<body>

    <header th:replace="/layout/default :: header-visitante"></header>

    <div class="container">
        <img th:src="@{/img/WEB-PAGE/logo.svg}" class="img-login-form" alt="Logo Empresa">
        <div id="login-form" class="row">
            <form>
                <div class="form-group">
                    <label>Login</label>
                    <input type="text" class="form-control" id="login" placeholder="Insira seu login">
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Insira sua senha">
                </div>
                <a type="submit" class="btn btn-primary">Logar</a> ,ou <a href="/usuario/cadastrar">Cadastre-se</a>
            </form>
        </div>
    </div>

    <footer th:replace="/layout/default :: footer"></footer>
    <script th:replace="/layout/default :: scripts"></script>

</body>
</html>